:root {
    font-size: 62.5%;
    --color-blue-black: #34355B;
    --color-white: #FFF;
}

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
}

.page {
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;

    background: linear-gradient(45deg, #190361, #bb00ff);
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;
}

main {
    margin: auto;
    max-width: 43rem;
    border-radius: .5rem;
    background: #FFF;
    box-shadow: 0px 2rem 5rem 0px rgba(0, 0, 0, 0.80);
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.hidden {
    display: none !important;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    text-align: center;
    color: var(--color-blue-black);
    margin-bottom: 1.7rem;
}

p {
    font-size: 1.5rem;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: var(--color-blue-black);

}

.screen1 p {
    margin-bottom: 3rem;
}

.screen1 button {
    background: #ffffff00;
    color: #000
}

/* screen 2 */

.screen2 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
}

.area-text {
    background: #E4EDF1;
    box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
    padding: 1rem;
    text-align: right;
}

.area-text p,
.area-text span {
    font-family: 'Dancing Script', cursive;
    font-size: 2.4rem;
}

.area-text span {
    font-size: 1.4rem;
    text-align: right;
}

button {
    border-radius: .4rem;
    border: none;
    background: #FF9500;
    padding: 1.6rem;
    max-width: 17rem;
    color: var(--color-white);
    font-weight: 700;
    cursor: pointer;
}

.area-text h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem !important;
}


/* animation */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#cookie {
    animation-name: trembles;
    animation-duration: .4s;
    animation-fill-mode: both;
}

#cookie:hover {
    animation-iteration-count: infinite;
}


@keyframes trembles {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 5deg;
    }
}

.area-text {
    animation-name: msgCookie;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes msgCookie {
    from {
        transform: translateY(100%) scale(0);
    }

    to {
        transform: translateY(0%) scale(1.2);
    }
}