:root {
    font-size: 62.5%;
    --brand-dark: hsl(195, 91%, 25%);
    --platform-background: hsl(240, 5%, 7%);
    --plataform-main: hsl(240, 6%, 13%);
    --color-gray-100: hsl(196, 100%, 98%);
    --color-white: hsl(0, 0%, 100%);
    --color-white-20: hsla(0, 0%, 100%, 0.2);
    --color-blue-ocean: hsl(195, 46%, 40%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
}

#page {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

.container {
    width: min(1216px, 100%);
    height: 100%;
    margin: auto;
}

/* Header e nav */

header {
    background-color: var(--brand-dark);
}

nav {
    display: flex;
    align-items: center;
    padding: 1.2rem 2.8rem;
    gap: 2.6rem
}

.img-logo {
    border-radius: 100%;
    width: max-content;
    padding: .8rem;
    background-color: var(--color-white);
}

form {
    flex: 1;
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    padding: 0;
    margin: -1px;
    white-space: nowrap;
    border-width: 0;
}

#search {
    padding: 1.2rem 1.6rem 1.2rem 1.4rem;
    border: none;
    border-radius: .4rem;
    background: hsla(0, 0%, 100%, 0.2);
    width: 100%;
    color: var(--color-white);
    font-weight: 600;
}

#search::placeholder {
    color: var(--color-white);
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
}

#search:focus {
    outline: 2px solid var(--color-white);
}

.img-user img {
    width: 4.2rem;
    height: 4.2rem;
    object-fit: cover;
    border-radius: 100%;
}

/* main */

.content {
    display: grid;
    grid-template-rows: max-content max-content;
}

main {
    margin-bottom: 3.4rem;
}

.hero img {
    object-fit: cover;
    width: 100%;
}

.area-title {
    margin: .8rem 0 3.1rem 2.2rem;
}

main h1 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.9rem;
    color: var(--plataform-main)
}

.area-like {
    display: flex;
    gap: 1.2rem;
}

.area-like button {
    padding: 1.2rem;
    background-color: var(--brand-dark);
    border: none;
    border-radius: 100%;
}

main p,
aside {
    margin: 0 2.2rem;
}

main p {
    line-height: 2.6rem;
    color: var(--plataform-main);
}

/* aside */

aside {
    display: flex;
    flex-direction: column;
    max-width: 38.4rem;
    gap: 3.2rem;
    margin: auto;
}

aside h3 {
    color: var(--plataform-main);
    font-weight: 700;

}

aside>h3 {
    font-size: 2.4rem;
    line-height: 3.8rem;
}

.card {
    display: flex;
    gap: 1.6rem;
    height: 8.4rem;
}

.card img {
    width: 15.1rem;
    height: 8.4rem;
    border-radius: .5;
    aspect-ratio: 16/9;
}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-content h3 {
    font-size: 1.8rem;
    margin-bottom: .5rem;
    height: 1.8rem;
}

.card-content p {
    color: var(--platform-background);
    font-size: 1.3rem;
    line-height: 2rem;
    height: 5.4rem;
}

/* footer */

footer {
    background-color: var(--color-blue-ocean);
    padding: 1.6rem;
    color: var(--color-white);
    font-weight: 600;
    text-align: center;
    margin-top: 4.1rem;
}

/* Animação */

.card,
.hero img {
    --card-delay: .3s;
    animation-name: appear;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-delay: var(--card-delay);
}

.card img:hover {
    transition: all 1.5s ease-out;
    rotate: 2deg;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* media */

@media(min-width: 1100px) {
    nav {
        padding: 1.2rem 0;
    }

    .content {
        grid-template-columns: 68% 30%;
        column-gap: 3.4rem;
        margin-top: 4.4rem;
    }

    .hero img {
        height: 41.0rem;
    }

    .area-title {
        display: flex;
        justify-content: space-between;
        margin: 3.2rem 0;
    }

    main p,
    aside {
        margin: 0;
    }

    .hero img {
        border-radius: 5px;
    }
}